---
permalink: "/test/index.html"
---
<!DOCTYPE html>
<html lang="es">
<head><meta charset="UTF-8"><title>Test</title></head>
<body><p>Eleventy is working. Site name: {{ site.name }}</p></body>
</html>
